@keyframes apperance {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.term-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 0;

	&__item {
		animation: apperance 1000ms;
	}
}
